body {
    font-family: 'ZCOOL KuaiLe', cursive;
}

#title {
    text-align: center;
}

#display {
    position: relative;
    display: block;
    width: 1498px;
    height: 500px;
    margin: auto;
    border: 3px groove darkblue;
    border-bottom: 15px solid black;
    padding: 0;

    background-color: #5fb5e7;
}

.platform {
    border: 1px solid black;
    background-image: url("../images/concrete.jpg")
}