body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: rgb(216, 253, 213);
}

#title {
    text-align: center;
}

#display {
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
    border: 3px groove darkblue;
    border-bottom: 15px solid black;
    padding: 0;

    background-color: #5fb5e7;
    overflow: hidden;
}

.platform {
    border: 1px solid black;
    background-image: url("../images/concrete.jpg");
}

.shoota {
    z-index: 20;
    transform: scaleX(-1);
}

.projectile {
    z-index: 10;

    animation: projectileSpin 5s linear 1 normal forwards;
    -moz-animation: projectileSpin 5s linear 1 normal forwards;
    -o-animation: projectileSpin 5s linear 1 normal forwards;
    -webkit-animation: projectileSpin 5s linear 1 normal forwards;
}

.grade {
    animation: gradeTwitch 200ms linear infinite alternate forwards;
    -moz-animation: gradeTwitch 200ms linear infinite alternate forwards;
    -o-animation: gradeTwitch 200ms linear infinite alternate forwards;
    -webkit-animation: gradeTwitch 200ms linear infinite alternate forwards;
}

/* Projectile Spin Animation */
@keyframes projectileSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-moz-keyframes projectileSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-o-keyframes projectileSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-webkit-keyframes projectileSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

/* Grade Twitch Animation */
@keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-moz-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-o-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-webkit-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}