body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: rgb(216, 253, 213);
    text-align: center;
}

img, .platform, #title, #scoreInfo, #gameInfo {
    user-select: none;
}

#title {
    position: absolute;
    z-index: 30;
    margin: 10px auto;
    width: 200px;
    height: auto;
    text-align: center;
    background-color: white;
    border: 4px groove gray;
    animation: titleTwitch 3s linear infinite alternate forwards;
}

#title:hover {
    animation: titleColor 1s linear infinite alternate forwards;
}

#gameInfo {
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    padding: 0;
}

.controls, #score {
    color: darkred;
}

#scoreInfo {
    position: absolute;
    top: 550px;
    left: 5%;
}

#display {
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    border: 3px groove black;
    border-bottom: 15px solid black;
    padding: 0;

    background: url("../images/background5.gif") no-repeat;
    background-position: center;
    background-size: 115% 125%;
    overflow: hidden;
}

#nextGradeArea {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    background-color: blue;
    opacity: 70%;
    border-right: 2px solid black;
}

#currentGradeArea {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 125px;
    height: 100%;
    background-color: green;
    border-right: 2px solid black;
}

#gradeDisplay {
    display: inline-block;
    position: absolute;
    top: 400px;
    left: 0;
}

#gradeDisplay h4 {
    margin-bottom: 2px;
}

#gradeDisplay h1 {
    margin: 0;
    color: white;
    text-decoration: underline;
}

.platform {
    text-align: center;
    font-weight: 900;
    line-height: 25px;
    border: 2px solid black;
    border-left: none;
    background-image: url("../images/concrete.jpg");
}

.shoota {
    z-index: 20;
    transform: scaleX(-1);
}

.assignment {
    z-index: 10;

    animation: assignmentSpin 4.5s linear infinite normal forwards;
    -moz-animation: assignmentSpin 4.5s linear infinite normal forwards;
    -o-animation: assignmentSpin 4.5s linear infinite normal forwards;
    -webkit-animation: assignmentSpin 4.5s linear infinite normal forwards;
}

.grade {
    animation: gradeTwitch 200ms linear infinite alternate forwards;
    -moz-animation: gradeTwitch 200ms linear infinite alternate forwards;
    -o-animation: gradeTwitch 200ms linear infinite alternate forwards;
    -webkit-animation: gradeTwitch 200ms linear infinite alternate forwards;
}

#late-bin {
    z-index: 15;
}

/* Assignment Spin Animation */
@keyframes assignmentSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-moz-keyframes assignmentSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-o-keyframes assignmentSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

@-webkit-keyframes assignmentSpin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(720deg);}
}

/* Grade Twitch Animation */
@keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-moz-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-o-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

@-webkit-keyframes gradeTwitch {
    from {transform: rotateZ(-25deg);}
    to {transform: rotateZ(25deg);}
}

/* Title Twitch Animation */
@keyframes titleTwitch {
    from {transform: rotateZ(-2.5deg);}
    to {transform: rotateZ(2.5deg);}
}

@-moz-keyframes titleTwitch {
    from {transform: rotateZ(-2.5deg);}
    to {transform: rotateZ(2.5deg);}
}

@-o-keyframes titleTwitch {
    from {transform: rotateZ(-2.5deg);}
    to {transform: rotateZ(2.5deg);}
}

@-webkit-keyframes titleTwitch {
    from {transform: rotateZ(-2.5deg);}
    to {transform: rotateZ(2.5deg);}
}

/* Title Color Animation */
@keyframes titleColor {
    from {background-color: whitesmoke;}
    to {background-color: rgb(41, 152, 156);}
}

@-moz-keyframes titleColor {
    from {background-color: whitesmoke;}
    to {background-color: rgb(41, 152, 156);}
}

@-o-keyframes titleColor {
    from {background-color: whitesmoke;}
    to {background-color: rgb(41, 152, 156);}
}

@-webkit-keyframes titleColor {
    from {background-color: whitesmoke;}
    to {background-color: rgb(41, 152, 156);}
}